{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% if not books %}
                <div class="book col-md-4">
                    <h2>Книг не найдено</h2>
                </div>
            {% else %}
                {% for book in books %}
                    <div class="book col-md-4">
                            <h2>{{ book.name }}</h2>
                            <p>Автор: {{ book.author }}</p>
                            <p>Дата публикации: {{ book.pub_date|date:"c" }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="footer">
            <ul class="list-inline">
                {% if previous_pub_date %}
                    <li class="list-inline-item">
                        <a href='/books/{{ previous_pub_date|date:"c" }}'> < {{ previous_pub_date|date:"c" }}</a>
                    </li>
                {% endif %}
                {% if next_pub_date %}
                    <li class="list-inline-item">
                        <a href='/books/{{ next_pub_date|date:"c" }}'>{{ next_pub_date|date:"c" }} > </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}