{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <ul class="list-inline">
                <li class="sort-item list-inline-item">Сортировать по:</li>
                <li class="sort-item list-inline-item"><a href="/catalog?sort=name">названию</a></li>
                <li class="sort-item list-inline-item"><a href="/catalog?sort=min_price">начиная с дешёвых</a></li>
                <li class="sort-item list-inline-item"><a href="/catalog?sort=max_price">начиная с дорогих</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="row">
                {% for phone in phones %}
                    <div class="col-6 phone">
                        <h2><a href="/catalog/{{ phone.slug }}">{{ phone.name }}</a></h2>
                        <p class="price">Стоимость: {{ phone.price }}р.</p>
                        <img src={{ phone.image }} alt={{ phone.name }}>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}