{% extends "base.html" %}
{% load static %}

{% block title %}Журнал{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Список статей</h1>
        </div>
        <div class="articles">
            {% for article in articles %}
                {% if not article.is_paid %}
                    <h3>
                        <a href="{% url 'show_article' article.id %}">
                            {{ article.title }}
                        </a>
                    </h3>
                {% else %}
                    {% if is_subscribed %}
                        <h3>
                            <a href="{% url 'show_article' article.id %}">
                                {{ article.title }}
                            </a>
                        </h3>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="subscription">
            <a href="{% url 'subscription' %}">Подписка</a>
        </div>
    </div>
{% endblock %}